h1{
    text-align: center;
}

.p1{
    background-color: rgb(87,73,149);
}

.p3{
    background-color: rgb(66,108,180);
}

.p4{   
    background-color: rgb(252,197,14);
}

.p5{
    background-color: rgb(255,16,1);
}

.leftImage{
    text-align: left; 
    float: left; 
    margin-right: 20px;
}

.rightImage{
    text-align: right; 
    float: right; 
    margin-left: 20px
}

.headerImage{
    text-align: center;
}

.characterTable{
    border-color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 40px;
}

.characterTable td{
    text-align: center;
}

.openings{
    margin-top: 50px;
    margin: auto;
    text-align: center;
}

.openings p{
    margin-top: 20px;
    font-weight: bold;
    font-size: x-large;
}

.screenshots{
    margin-top: 200px;
    margin: auto;
    text-align: center;
}

.screenshots table{
    margin: auto;
}

.screenshots p{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
}

.screenshots img{
    text-align: center;
    width: 450px;
}

.anchors{
    margin: auto;
    border-spacing: 30px;
}

.anchors th{
    text-align: center;
}

.anchors td{
    text-align: center;
}

.page :link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.page :visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.anchorUp{
    position: fixed;
    right: 1%;
    bottom: 1%;
}