h1{
    text-align: center;
}

.p3{
    background-color: rgb(66,108,180);
}

.p4{   
    background-color: rgb(252,197,14);
}

.p5{
    background-color: rgb(238,31,47);
}

.leftImage{
    text-align: left; 
    float: left; 
    margin-right: 20px;
}

.rightImage{
    text-align: right; 
    float: right; 
    margin-left: 20px
}

.headerImage{
    text-align: center;
}

.characterTable{
    margin: auto;
    margin-top: 40px;
}

.characterTable td{
    text-align: center;
}

.openings{
    margin-top: 50px;
    margin: auto;
    text-align: center;
}

.openings p{
    margin-top: 20px;
    font-weight: bold;
    font-size: x-large;
}